@font-face {
    font-family: "Manrope";
    src: url("../../../assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");

    font-weight: 200 800;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../../../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");

    font-weight: 400 900;
    font-style: normal;
}