/* CARROSSEL */

.carousel {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

/* VIEWPORT */

.carousel-viewport {
  width: 100%;
  overflow: hidden;
}

/* TRACK */

.carousel-track {
  display: flex;
  gap: var(--spacing-md);
  transition: transform 0.5s ease;
}

/* BOTÕES */

.carousel-button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--marrom);
  color: var(--bege-claro);
  font-family: var(--font-body);
  font-size: var(--font-size-h5);
  cursor: pointer;
  transition: var(--transition);
}

.carousel-button:hover{
  background-color: var(--verde);
  transform: translateY(-5px);

}