/* HEADER */

.header {
    width: 100%;
    background-color: var(--verde);
}

.header-container {
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* LOGO */

.header-logo {
    display: flex;
    align-items: center;
}
.header-logo img {
    height: 75px;
    width: auto;
    object-fit: contain;
}

/* NAVEGAÇÃO */

.header-nav {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-menu a {
    color: var(--bege);
    font-size: var(--font-size-nav);
    font-weight: 500;
}

.header-menu a:hover {
    color: var(--marrom);
}


/* BOTÃO */

.header-button {
    padding: 12px 24px;

    background-color: var(--marrom);
    color: var(--bege);

    border-radius: var(--radius-sm);

    font-size: var(--bege);
    font-weight: 600;
}

.header-button:hover {
    background-color: var(--grafite);
}