/* DESIGN INTELIGENTE */

.design {
    width: 100%;
    padding: 80px 0;
    background-color: var(--grafite);
}


/* CONTAINER */

.design-container {
    display: grid;
    grid-template-columns: 42% 58%;
    align-items: stretch;
    gap: 50px;
}


/* IMAGEM */

.design-image {
    width: 100%;
    height: 480px;
    overflow: hidden;
    border-radius: var(--radius-md);
}

.design-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 60% center;
}


/* CONTEÚDO */

.design-content {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* CAPTION */

.design-caption {
    margin-bottom: 22px;
    color: var(--marrom);
    font-family: var(--font-body);
    font-size: var(--font-size-caption);
    font-weight: 500;
    text-transform: uppercase;
}


/* TÍTULO */

.design-title {
    margin-bottom: 32px;
    color: var(--bege);
    font-family: var(--font-title);
    font-size: var(--font-size-h2);
    font-weight: 700;
    line-height: 1.1;
}

/* TEXTO */

.design-text {
    width: 100%;
    max-width: 650px;
    margin-bottom: 34px;
    color: var(--bege-claro);
    font-family: var(--font-body);
    font-size: var(--font-size-body-md);
    font-weight: 400;
    line-height: 1.5;
}


/* BOTÃO */

.design-button {
    min-width: 165px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 11px 22px;
    margin-bottom: 18px;
    background-color: var(--marrom);
    color: var(--bege-claro);
    border-radius: var(--radius-lg);
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
}

.design-button:hover {
    background-color: var(--bege);
    color: var(--grafite);
}

.design-arrow {
    font-size: 18px;

    line-height: 1;

    transition: var(--transition);
}

.design-button:hover .design-arrow {
    transform: translateX(4px);
}


/* SLOGAN */

.design-slogan {
    color: var(--bege-claro);
    font-family: var(--font-body);
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}