/* BUTTON */

.product-button {
  width: 100%;
  max-width: 320px;
  margin-bottom: var(--spacing-lg);
  padding: 18px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  background-color: var(--marrom);
  color: var(--bege-claro);
  border-radius: var(--radius-lg);
  font-family: var(--font-body);
  font-size: var(--font-size-body-md);
  font-weight: 500;
  transition: var(--transition);
}

.product-button span {
  font-size: 22px;

  transition: var(--transition);
}

.product-button:hover {
  background-color: var(--bege);
  color: var(--grafite);
}

.product-button:hover span {
  transform: translateX(5px);
}
